@using NationalBank.BackEnd.Models;

@{
    var alert = TempData.GetAlerts();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <title>mfExpert-LMS</title>

    <link href="~/css/bootstrap-datepicker.min.css" rel="stylesheet" asp-append-version="true" />
    <environment include="Development">
        <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>

    @*All Styles are applied in Style.css File*@

    @RenderSection("styles", required: false)
</head>
<body>
    <div>
        <div id="main" class="main">
            <div>
                @{
                    if (alert.Any())
                    {
                        var alerts = alert.First();
                                <div>
                                    <div class="alert @alerts.AlertClass alert-dismissible">
                                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                        @alerts.Message
                                    </div>
                                </div>
                    }
                     <h3>@ViewData["time"]</h3> 
                }
            </div>
        <section class="section dashboard mb-5">
            <div id="mainbody">
                @RenderBody()
            </div>
        </section>
        </div>
    </div>
    <script src="~/js/system.min.js" asp-append-version="true"></script>
    <script>
      System.import('jquery').then(function () {     
           System.import('bootstrap').then(function () {                
               System.import('jquery-validation').then(function () {
               System.import('jqueryunob').then(function () {
                   
               System.import('site').then(function () {
                    System.import('typeahead-jquery').then(function () {
                         System.import('typeahead-bundle').then(function () {
                              System.import('bloodhound').then(function () {
                                    System.import('sweetalert2').then(function () {
                  
                                    }).catch(function (err) { console.error(err); });
                              }).catch(function (err) { console.error(err); });
                         }).catch(function (err) { console.error(err); });
                    }).catch(function (err) { console.error(err); });
                    }).catch(function (err) { console.error(err); });
                    }).catch(function (err) { console.error(err); });
                     }).catch(function (err) { console.error(err); });
                     }).catch(function (err) { console.error(err); });
      }).catch(function (err) { console.error(err); });
    </script>
   @RenderSection("Scripts", required: false)
</body>
</html>

